#contentHost {
    overflow-y: auto;
    width: 250px;
    height: 333px;
    border: solid 3px black;
}

.flat_layout_left {
    float: left;
    margin: 0px 2px 0px 3px;
}

.flat_layout_right {
    float: right;
    margin: 0px 2px 0px 3px;
}

.picture_host {
    width: 30%;
}

.content_host{
    width: 65%;
}

.clear_layout_sets {
    clear: both;
}

.messages_host {
    height: 90%;
    overflow:auto;
}

ul.clear_circles_in_list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

li.clear_circles_in_list {
    margin: 1px 2px 1px 5px;
    vertical-align: central;
}

    li.clear_circles_in_list > div > div > a {
        text-decoration: none;
        text-decoration-color: none;
        color: black;
        cursor: default;
    }

.small_margin {
    margin: 2px 1px 2px 1px;
}

.box_for_source {
    border: dashed 1px black;
    height: 65px;
    width: 93%;
}

.contact_image_size {
    width: 45px;
    height: 55px;
    border: solid 1px black;
    margin: 3px 3px 3px 3px;
}

.hide {
    display: none;
}

.centerVertically {
    margin-top: 45%;
    margin-left: 10px;
}

.mediumTextBox {
    height: 20px;
    width: 90%;
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.highTextBox {
    height: 40px;
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
    margin-right: 5px;
    padding-bottom: 5px;
}

.highButton {
    height: 40px;
    margin: 2px 2px 2px 2px;
}

a.small_link {
    text-decoration: none;
    text-decoration-color: none;
    color: none;
    cursor: default;
    font-size: 10px;
    font-family: Courier New, Courier, monospace;
}

#newPing {
    z-index: 2;
}

.box_for_message {
    border-bottom: dashed 1px black;
    height: 35px;
    width: 93%;
}

.small_info_font {
    font-size: 8px;
}

.message_box_area {
    height: 85%;
    overflow-y: auto;
}

#message_text {
    margin: 1px 1px 1px 1px;
}

#message_send {
    margin: 1px 1px 1px 1px;
    height: 35px;
}

a.prominent_link {
    text-decoration: none;
    text-decoration-color: none;
    color: none;
    cursor: default;
    font-size: 16px;
    font-family: 'Microsoft Sans Serif', sans-serif;
}