body {
    width: 250px;
    height: 333px;
    border: solid 3px black;
}

.flat_layout_left {
    float: left;
    margin: 0px 2px 0px 3px;
}

.clear_layout_sets {
    clear: both;
}

ul.clear_circles_in_list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

li.clear_circles_in_list {
    margin: 1px 2px 1px 5px;
    vertical-align: central;
}

    li.clear_circles_in_list > div > div > a {
        text-decoration: none;
        text-decoration-color: none;
        color: black;
        cursor: default;
    }

.small_margin_vertical {
    margin: 2px 1px 2px 1px;
}

.box_for_source {
    border: dashed 1px black;
    height: 55px;
    width: 93%;
}

.contact_image_size {
    width: 80%;
    height: 80%;
    border: solid 1px black;
    margin: 3px 3px 3px 3px;
}

.hide {
    display: none;
}

.centerVertically {
    margin-top: 45%;
    margin-left: 10px;
}

.highTextBox {
    height: 40px;
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
    margin-right: 5px;
}

.highButton {
    height: 40px;
    margin: 2px 2px 2px 2px;
}

a.small_link {
    text-decoration: none;
    text-decoration-color: none;
    color: none;
    cursor: default;
    font-size: 10px;
    font-family: Courier New, Courier, monospace;
}

#newPing {
    z-index: 2;
}
