<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Kalanjiyam" connectionString="data source=VOS\KALANJIYAM;initial catalog=PingMe;user id=sa;password=nasasensiv;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MembershipUser" connectionString="data source=VOS\KALANJIYAM;initial catalog=PingMe;user id=Pinger;password=S@^en%u#3;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="PingMe_Membership_Provider">
      <providers>
        <clear/>
        <add name="PingMe_Membership_Provider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="MembershipUser"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             applicationName="PingMe"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="3"
             passwordAttemptWindow="3"/>
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="PingMe_Profile_Provider">
      <providers>
        <clear />
        <add name="PingMe_Profile_Provider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="MembershipUser"
             applicationName="PingMe"/>
      </providers>
      <properties>
        <add name="ProfilePicture"
             type="System.String"/>
      </properties>
    </profile>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <services>
      <service name="MessagingService.MessengerServiceFacade">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="MessagingService.IMessengerServiceFacade"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:51481"/>
        <add name="Access-Control-Allow-Headers" value="accept, soapaction, content-type"/>
        <add name="Access-Control-Allow-Methods" value="POST, GET, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>