<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="Kalanjiyam" connectionString="data source=VOS\KALANJIYAM;initial catalog=PingMe;user id=sa;password=nasasensiv;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MembershipUser" connectionString="data source=VOS\KALANJIYAM;initial catalog=PingMe;user id=Pinger;password=S@^en%u#3;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--<membership defaultProvider="PingMe_Membership_Provider">
      <providers>
        <clear/>
        <add name="PingMe_Membership_Provider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="MembershipUser"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             applicationName="PingMe"
             requiresUniqueEmail="true"
             passwordFormat="Clear"
             maxInvalidPasswordAttempts="3"
             passwordAttemptWindow="3"/>
      </providers>
    </membership>
    <profile defaultProvider="PingMe_Profile_Provider">
      <providers>
        <clear />
        <add name="PingMe_Profile_Provider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="MembershipUser"
             applicationName="PingMe"/>
      </providers>
      <properties>
        <add name="ProfilePicture"
             type="System.String"/>
      </properties>
    </profile>-->
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>